# Accounts Service
accounts-service/node_modules/
accounts-service/dist/
accounts-service/AccountsServiceDatabase.db
accounts-service/logs/

# Transaction Service
transactions-service/node_modules/
transactions-service/dist/
transactions-service/TransactionsServiceDatabase.db
transactions-service/logs/

# Fin User Interface Service
fin-user-interface-service/dist
fin-user-interface-service/tmp
fin-user-interface-service/out-tsc
fin-user-interface-service/bazel-out

fin-user-interface-service/node_modules
fin-user-interface-service/npm-debug.log
fin-user-interface-service/yarn-error.log

fin-user-interface-service/.idea/
fin-user-interface-service/.project
fin-user-interface-service/.classpath
fin-user-interface-service/.c9/
*.launch
fin-user-interface-service/.settings/
*.sublime-workspace

fin-user-interface-service/.vscode/
fin-user-interface-service/.history/

fin-user-interface-service/.angular
fin-user-interface-service/.sass-cache/
fin-user-interface-service/connect.lock
fin-user-interface-service/coverage
fin-user-interface-service/libpeerconnection.log
fin-user-interface-service/testem.log
fin-user-interface-service/typings

fin-user-interface-service/.DS_Store
fin-user-interface-service/Thumbs.db
