//--------------------------------------------------------------------------------
// Boiler Plate SCSS
//--------------------------------------------------------------------------------
@use '@angular/material' as mat;

html {
  @include mat.theme((color: (primary: mat.$azure-palette,
        tertiary: mat.$blue-palette,
      ),
      typography: Roboto,
      density: 0,
    ));
}

body {
  // Default the application to a light color theme. This can be changed to
  // `dark` to enable the dark color theme, or to `light dark` to defer to the
  // user's system settings.
  color-scheme: light;

  // Set a default background, font and text colors for the application using
  // Angular Material's system-level CSS variables. Learn more about these
  // variables at https://material.angular.dev/guide/system-variables
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);

  // Reset the user agent margin.
  margin: 0;
}

@import 'ngx-toastr/toastr';

//--------------------------------------------------------------------------------
// Our Custom SCSS
//--------------------------------------------------------------------------------

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

app-nav-bar {
  position: relative;
  z-index: 9;
}

.modalBody {
  background-color: #CAE9FF;
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 1em;
}

/* The visible dialog surface */
.panelBody .mdc-dialog__surface {
  border-radius: 25px;
  border: 4px solid #b4b4b4;
}

table {
  border-collapse: collapse;
  width: 100%;
  font-size: larger;
  overflow-x: auto;
}

th {
  padding-top: .5rem;
  padding-bottom: 1rem;
  background-color: #536d7e;
  text-align: left;
  padding-right: .5em;
  padding-left: .5em;
  position: sticky;
  top: 0;
  z-index: 1;
}

tr:nth-child(even) {
  background-color: #88c0bf;
}

td {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-right: .5em;
  padding-left: .5em;
}

// table td:last-child {
//     width: 100%;
// }

.notes {
  width: 100%;
  padding-left: 0px;
  padding-right: 0px;
}

input {
  border: 2px solid #b4b4b4;
  padding: 8px;
  border-radius: 10px;
  background-color: #ffffff;
  font-size: large;
  text-align: left;
}

.smallInput {
  width: 6rem;
}

.mediumInput {
  width: 15rem;
}

.selector {
  min-width: 15em;
}

input:focus {
  box-shadow: 5px 5px #888888;
}

.pageDataDisplayTableDiv {
  position: relative;
  background-color: #CAE9FF;
  height: 75vh;
  width: calc(100vw - 20rem);
  top: 3rem;
  left: 10rem;
  z-index: 1;
  overflow-y: auto;
}

.manualInput {
  position: relative;
  top: 3.5em;
  background-color: #CAE9FF;
  width: calc(100vw - 20rem);
  left: 10rem;
  z-index: 1;
  overflow-y: hidden;
  overflow-x: auto;
}

.columnSimpleOneLine {
  white-space: nowrap
}

.columnTakeExtraSpace {
  width: 100%;
}

.positiveEffect {
  color: rgb(127, 185, 39);
}

.negativeEffect {
  color: #FF6961;
}

.amountCells .amountHeaderCell {
  text-align: right;
}

.actionButtons {
  background-color: transparent;
  outline: none;
  border: 0;
}

.actionButtonsColumn {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.trash:hover {
  color: red;
}

.edit:hover {
  color: rgb(155, 153, 45);
}

.split:hover {
  color: aqua;
}

.effectText {
  font-size: small;
}

.modalButtons {
  margin-left: 2em;
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 1em;
  padding-right: 1em;
}