<div class="modalBody">
    <h2 mat-dialog-title>Account Type Filters</h2>

    <div mat-dialog-content>

        <div class="flexInput">
            <p class="flexInputLabel">Only Show Selected Equation Sections:</p>
            <mtx-select [multiple]="true" placeholder="Type to search" class="flexInputInput multiSelector"
                #selectedTypeClassInputList>
                @for (item of this.typeClassList; track item.class_code) {
                <mtx-option [value]="item">{{item.class_description}}</mtx-option>
                }
            </mtx-select>
        </div>

        <div class="flexInput">
            <p class="flexInputLabel">Account Type Description Contains</p>
            <input id="notesInput" class="flexInputInput" type="text" #descriptionContainsInput>
        </div>


        <div class="flexInput">
            <p class="flexInputLabel">Account Type Notes Contains</p>
            <input id="notesInput" class="flexInputInput" type="text" #notesContainsInput>
        </div>

        <div class="flexInput">
            <p class="flexInputLabel">Include Inactive:</p>
            <mat-slide-toggle class="flexMatToggle" #includeInactive></mat-slide-toggle>
        </div>

        <div class="flexInput">
            <p class="flexInputLabel">Hide Active:</p>
            <mat-slide-toggle class="flexMatToggle" #hideActive></mat-slide-toggle>
        </div>

    </div>

    <!-- Action Buttons -->
    <div mat-dialog-actions align="end">
        <button class="modalButtons" mat-button (click)="cancel()">Cancel</button>
        <button class="modalButtons" mat-button (click)="clear()">Clear</button>
        <button class="modalButtons" color="primary" (click)="confirm()">Apply</button>
    </div>
</div>