#transactionDivs {
    position: relative;
    background-color: rgb(197, 255, 236);
    height: 80vh;
    width: calc(100vw - 20rem);
    top: 3rem;
    left: 10rem;
    z-index: 1;
    border-width: 3px;
    border-color: black;
    border-style: solid;
    overflow-y: auto;
}

app-nav-bar {
    position: relative;
    z-index: 9;
}

#ledgerTable {
    width: 100%;
    font-size: larger;
    overflow-y: scroll;
}

th {
    padding-top: .5rem;
    padding-bottom: 1rem;
    background-color: #888888;
    text-align: left;
    padding-right: .5em;
    padding-left: .5em;
    position: sticky;
    top: 0;
    z-index: 1;
}

table {
    border-collapse: collapse;
}

tr:nth-child(even) {
    background-color: #c0c4c4;
}

td {
    padding-bottom: 1em;
    padding-right: .5em;
    padding-left: .5em;
}

.amountCells #amountHeaderCell {
    text-align: right;
}

#formButtons {
    position: relative;
    height: 3em;
    width: calc(100vw - 20rem);
    top: 3rem;
    margin-left: 10rem;
    z-index: 1;
    text-align: right;
}

#applyButton {
    height:3em;
    width: 5em;
}