<!-- Navigation Bar -->
<app-nav-bar></app-nav-bar>

<!-- Table that displays current pending Transactions -->
<form [formGroup]="tableForm">
    <div class="pageDataDisplayTableDiv">
        <table>
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Description</th>
                    <th class="amountHeaderCell">Amount</th>
                    <th>Credit</th>
                    <th>Debit</th>
                    <th>Notes</th>
                    <!-- This is the empty header for the action buttons -->
                    <th></th>
                </tr>
            </thead>
            <tbody formArrayName="rows">
                @for (row of rows.controls; let i = $index; track i) {
                <tr [formGroupName]="i">
                    <td class="columnSimpleOneLine">{{ transactionPendingList[i].trans_date }}</td>
                    <td class="columnSimpleOneLine">{{ transactionPendingList[i].trans_description }}</td>
                    <td class="amountCells columnSimpleOneLine">{{ (transactionPendingList[i].amount).toFixed(2) }}</td>

                    <td class="selector">
                        <mtx-select placeholder="Select Credit" formControlName="credit">
                            @for (item of this.accountsList; track item.account_code) {
                            <mtx-option [value]="item.account_code">{{item.account_selectable}}</mtx-option>
                            }
                        </mtx-select>
                        @if (row.get('credit')?.value && determineEffect(row.get('credit')!.value!,"credit") == '+')
                        {<p class="effectText positiveEffect">Increase ^</p>}
                        @if (row.get('credit')?.value && determineEffect(row.get('credit')!.value!,"credit") == '-')
                        {<p class="effectText negativeEffect">Decrease v</p>}
                    </td>

                    <td class="selector">
                        <mtx-select placeholder="Select Debit" formControlName="debit">
                            @for (item of this.accountsList; track item.account_code) {
                            <mtx-option [value]="item.account_code">{{item.account_selectable}}</mtx-option>
                            }
                        </mtx-select>
                        @if (row.get('debit')?.value && determineEffect(row.get('debit')!.value!,"debit") == '+')
                        {<p class="effectText positiveEffect">Increase ^</p>}
                        @if (row.get('debit')?.value && determineEffect(row.get('debit')!.value!,"debit") == '-')
                        {<p class="effectText negativeEffect">Decrease v</p>}
                    </td>

                    <td><input type="text" id="pendingTransactionNotes" formControlName="notes"></td>
                    <!-- Dedicated column for buttons -->
                    <td class="actionButtonsColumn">
                        <button class="actionButtons trash" (click)="confirmDeletion(i)">
                            <i-feather name="trash-2"></i-feather></button>
                        <button class="actionButtons split" (click)="openSplitModal(i)">
                            <i-feather name="columns"></i-feather></button>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>

    <!-- Zone for actions buttons on the page allowing submission and file upload -->
    <div id="formButtons">
        <!-- File input button -->
        <input type="file" class="file-input" (change)="onFileSelected($event)" #fileInput>
        <div class="file-upload">

            <button mat-mini-fab color="primary" class="upload-btn" (click)="fileInput.click()">
                <i-feather name="file"></i-feather>
            </button>

            {{currentlySelectedFileName || "No file uploaded yet."}}
        </div>

        <!-- File submit button -->
        <button type="button" (click)="apply()" id="applyButton">Apply</button>
    </div>

</form>