#formButtons {
    margin-top: 5em;
    position: relative;
    height: 3em;
    width: calc(100vw - 20rem);
    top: 3rem;
    margin-left: 10rem;
    z-index: 1;
    text-align: right;
}

#applyButton {
    height: 3em;
    width: 5em;
}

.file-input {
    display: none;
}

.file-upload {
    float: left;
}