.flexInput {
    display: flex;
    margin-bottom: .75em;
}

.flexInputLabel {
    width: 20em;
}

.flexInputInput {
    flex: 1 1 auto;
    width: auto;
    min-width: 15em;
    max-width: 35em;
}

.multiSelector {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-right: 0.5em;
    padding-left: 0.5em;
    background-color: white;
    border-style: solid;
    border-radius: .75em;
    border-color:#b4b4b4;
    border-width: 2px;
}