<nav class="navbar">
  <ul class="navbar__menu">
    <li class="navbar__item">
      <a routerLink="/ledger" class="navbar__link"><i-feather name="pen-tool"></i-feather><span>Ledger</span></a>
    </li>
    <li class="navbar__item">
      <a routerLink="/accounttypes" class="navbar__link"><i-feather name="package"></i-feather><span>Account Types</span></a>        
    </li>
    <li class="navbar__item">
      <a routerLink="/accounts" class="navbar__link"><i-feather name="book-open"></i-feather><span>Accounts</span></a>        
    </li>
    <!-- <li class="navbar__item">
      <a href="#" class="navbar__link"><i-feather name="folder"></i-feather><span>Projects</span></a>        
    </li>
    <li class="navbar__item">
      <a href="#" class="navbar__link"><i-feather name="archive"></i-feather><span>Resources</span></a>        
    </li>
    <li class="navbar__item">
      <a href="#" class="navbar__link"><i-feather name="help-circle"></i-feather><span>Help</span></a>        
    </li>
    <li class="navbar__item">
      <a href="#" class="navbar__link"><i-feather name="settings"></i-feather><span>Settings</span></a>        
    </li> -->
  </ul>
</nav>