<nav class="navbar">
  <ul class="navbar__menu">
    <li class="navbar__item">
      <a routerLink="/" class="navbar__link"><i-feather name="book-open"></i-feather><span>Ledger</span></a>
    </li>
    <li class="navbar__item">
      <a routerLink="/error" class="navbar__link"><i-feather name="message-square"></i-feather><span>Messages</span></a>        
    <!-- </li>
    <li class="navbar__item">
      <a href="#" class="navbar__link"><i-feather name="users"></i-feather><span>Customers</span></a>        
    </li>
    <li class="navbar__item">
      <a href="#" class="navbar__link"><i-feather name="folder"></i-feather><span>Projects</span></a>        
    </li>
    <li class="navbar__item">
      <a href="#" class="navbar__link"><i-feather name="archive"></i-feather><span>Resources</span></a>        
    </li>
    <li class="navbar__item">
      <a href="#" class="navbar__link"><i-feather name="help-circle"></i-feather><span>Help</span></a>        
    </li>
    <li class="navbar__item">
      <a href="#" class="navbar__link"><i-feather name="settings"></i-feather><span>Settings</span></a>        
    </li> -->
  </ul>
</nav>