<nav class="navbar">
  <ul class="navbar__menu">
    <li class="navbar__item">
      <a routerLink="/ledger" class="navbar__link"><i-feather name="pen-tool"></i-feather><span>Ledger</span></a>
    </li>
    <li class="navbar__item">
      <a routerLink="/accounttypes" class="navbar__link"><i-feather name="package"></i-feather><span>Account Types</span></a>
    </li>
    <li class="navbar__item">
      <a routerLink="/accounts" class="navbar__link"><i-feather name="book-open"></i-feather><span>Accounts</span></a>
    </li>
    <li class="navbar__item">
      <a routerLink="/pendingtransacitons" class="navbar__link"><i-feather name="inbox"></i-feather><span>Pending Transacitons</span></a>
    </li>
  </ul>
</nav>