div {
  display: inline-block;
  background: #00AFF9 url(https://png.pngtree.com/png-vector/20221119/ourmid/pngtree-electrical-plug-socket-vector-illustration-png-image_6470462.png) center/cover no-repeat;
  height: 100vh;
  width: 100vw;
  margin: 0px;
  padding: 0px;
  color: white;
}

h1 {
  margin: .8em 3rem;
  font: 4em Roboto;
}
p {
  display: inline-block;
  margin: .2em 3rem;
  font: 2em Roboto;
}